<h1>My Unfinished Games</h1>

<% if logged_in? %>
  <% games = Game.joins(:players).where("players.id = #{current_player.id}").where("games.completed = false") %>  
  <% if games.present? %>
    <table>
      <tr>
        <th># Players</th>
        <th>Play!</th>
      </tr>
      <% games.each do |game| %>
       <tr>
          <td><%= game.num_players %></td>
          <td><%= link_to 'Resume!', game %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <h2>No unfinished games</h2>
  <% end %>
<% else %>
  <h2><%= link_to "Log in", login_path %> to see unfinished games.</h2>
<% end %>

<br />

<%= link_to 'Start New Game', new_game_path, class: "green btn" %>
